.animate{
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .layer{
    .container2{
      width: 100vw;
      font-size: 0;
      height: 100vh;
      overflow: hidden;
    }
  }
  button.grid.rotate-current{
    animation-play-state: running;
    animation: mymove 1s infinite linear;
    &.pause{
      animation-play-state: paused;
    }
  }
}