*{
  box-sizing: border-box;
}

.animate{
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: start;
  // align-items: center;
  top: 0;
  
  &.vertical{
    height: auto;
    width: 89.5vw;
    overflow: hidden;
    aspect-ratio: 9/16;
  }
  &.horizontal{
    height: auto;
    width: 89.5vw;
    overflow: hidden;
    aspect-ratio: 16/9;
  }
  &.vertical .container, &.vertical .layer .container2{
    width: 100vw;
    height: 100vh;
  }
  &.horizontal .container, &.horizontal .layer .container2{
    width: 100vw;
    height: 100vh;
  }

  .fixed{
    right: -150px;
    overflow: visible;
    width: 110px;
    &.activeToggle{
      right: 0;
    }
    .menu{
      width: calc(100% - 20px);
    }
    .flex{
      flex-direction: column;
      .option{
        width: 100%;
      }
    }
    .images{
      width: 100%;
      margin-top: 900px;
      img{
        width:25px;
        height: 25px;
      }
    }
    .download{
      width: 90px;
      padding: 5px 10px;
    }
    *{
      font-size: 10px;
    }
  }


  .container{
    overflow: hidden;
  }
  .layer{
    .container2{
      font-size: 0;
      overflow: hidden;
    }
  }
  button.grid.rotate-current{
    animation-play-state: running;
    animation: mymove 1s infinite linear;
    &.pause{
      animation-play-state: paused;
    }
    &.stop{
      animation: none;
    }
  }
}

.active-draw.grow{
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
  animation: morphingEffect 1s infinite ease;
}

@keyframes morphingEffect {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 0%;
  }

  100% {
    background-size: 100%;
  }
}

#main.invert{
  background-color: black!important;
  color: white!important;
  *{
    filter: invert(1) contrast(10)!important;
    color: black!important;
    border-color: white!important;
  }
  .option{
    color: black!important;
  }
  .activeOption{
    color: white!important;
    border: 1px solid white!important;
  }
  .images #custom{
    color: black!important;
  }
  #toggle{
    color: white!important;
  }
}