.animate{
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &.vertical .container, &.vertical .layer .container2{
    width: auto;
    height: 100vh;
    aspect-ratio: 9 / 16;
  }
  &.horizontal .container, &.horizontal .layer .container2{
    width: 100vw;
    height: auto;
    aspect-ratio: 16 / 9;
  }
  .container{
    overflow: hidden;
  }
  .layer{
    .container2{
      font-size: 0;
      overflow: hidden;
    }
  }
  button.grid.rotate-current{
    animation-play-state: running;
    animation: mymove 1s infinite linear;
    &.pause{
      animation-play-state: paused;
    }
    &.stop{
      animation: none;
    }
  }
}