*{
  box-sizing: border-box;
}

.animate2{
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: start;
  background-color: rgb(8,44,15);
  top: 0;
  
  &.vertical{
    height: 100vh;
    width: auto;
    overflow: hidden;
    aspect-ratio: 9/16;
  }
  &.horizontal{
    height: auto;
    width: 100vw;
    overflow: hidden;
    aspect-ratio: 16/9;
  }
  &.vertical .container, &.vertical .layer .container2{
    width: 100vw;
    height: 100vh;
  }
  &.horizontal .container, &.horizontal .layer .container2{
    width: 100vw;
    height: 100vh;
  }

  .fixed{
    right: -150px;
    overflow: visible;
    overflow-y: scroll;
    width: 110px;
    background-color: rgb(8,44,15);
    &.activeToggle{
      right: 0;
    }
    .menu{
      width: calc(100% - 20px);
    }
    .flex{
      flex-direction: column;
      .option{
        width: 100%;
      }
    }
    .images{
      flex-direction: column;
      width: 100%;
      align-items: center;
      img{
        width:100%;
        height: auto;
        max-width: 50px;
        margin-bottom: 5px;
      }
    }
    .download{
      width: 90px;
      padding: 5px 10px;
    }
    *{
      font-size: 12px;
    }
  }


  .container{
    overflow: hidden;
  }
  .layer{
    .container2{
      font-size: 0;
      overflow: hidden;
    }
  }
  .active-draw.grow{
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    animation: morphingEffect2 2s infinite ease;
  }

  @keyframes morphingEffect2 {
    0% {
      background-size: 275%;
    }
    50% {
      background-size: 0%;
    }
  
    100% {
      background-size: 275%;
    }
  }

  #wrapper{
    background-color: rgb(8,44,15);
  }

  .active-draw.grow.pause{
    animation-play-state: paused;
  }

  @media print{
    .images, .download, .fixed{
      display: none;
    }
    .animate2{
      background-color: transparent;
    }
    button, input, label, h1{
      display: none;
    }
    button.grid{
      display: inline-block;
      border: none;
    }
    .menu{
      display: none;
    }
  }
  
}