body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 25px; */
  /* overflow: auto;
  white-space: nowrap; */
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 100px;
}

h1{
  text-align: center;
  width: 100vw;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  z-index: 9;
  font-weight: normal;
}

canvas {
  display: inline-block;
  vertical-align: top;
  // border: 1px solid black;
  position: relative;
  margin-top: 50px;
  margin-bottom: -50px;
  /* margin-top: -4px; */
}

button{
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  font-size: 20px;
  background-color: black;
  color: white;
}

input[type='number']{
  width: 50px;
  text-align: center;
  margin-right: 10px;
}

.var{
  position: absolute;
  right: 50px;
}

.images{
  visibility: hidden;
  height: 0;
}

#save{
  left: 0;
  width: fit-content;
}


* {
  box-sizing: border-box;
}

#container {
  width: 500px;
  // height: 500px;
  // overflow: hidden;
  font-size: 0;
}

button.grid {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  outline: 0px;
  background-color: transparent;
  position: relative;
}

.menu{
  display: flex;
  div{
    padding: 10px;
    margin-right: 10px;
  }
}


@media print{
  button, input, label, h1{
    display: none;
  }
  // canvas{
  //   width: 115px!important;
  //   height: 115px!important;
  // }
  button.grid{
    display: inline-block;
    border: none;
  }
  .menu{
    display: none;
  }
  // @page {
  //   size: 594mm 420mm ;
  //   margin: 0;
  // }
}