* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 100px;
}

h1{
  text-align: center;
  width: 100vw;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  z-index: 9;
  font-weight: normal;
}

.images{
  // visibility: hidden;
  // height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  img{
    width: 50px;
    height: 50px;
    padding: 5px;
    object-fit: cover;
  }
  & .active{
    border: 1px solid blue;
  }
}

#wrapper{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 500px;
  height: 500px;
  overflow: hidden;
  font-size: 0;
}

.layer{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .container2{
    width: 500px;
    font-size: 0;
    height: 500px;
    overflow: hidden;
  }
}

button.grid {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  outline: 0px;
  background-color: transparent;
  position: relative;
  background-size: cover;
}

.hide button.grid{
  border: none;
}

#hide.hide:after{
  content: 'Show Grid';
}

#hide:after{
  content: 'Hide Grid';
}

.menu{
  display: flex;
  position: relative;
  div{
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  & .active{
    background-color: lightgreen;
  }
}


@media print{
  .images{
    display: none;
  }
  button, input, label, h1{
    display: none;
  }
  button.grid{
    display: inline-block;
    border: none;
  }
  .menu{
    display: none;
  }
}